<template>
  <Sidebar @tag-filtred="filter" />
  <section id="content" class="col">
    <Searchbar @search="search" @search-cancel="load" />
    <Bookmarks v-if="bookmarks" :bookmarks="bookmarks" @tag-filtred="filter" />
  </section>
</template>

<script>
import Bookmarks from "@/components/Bookmarks.vue";
import Searchbar from "@/components/Searchbar.vue";
import Sidebar from "@/components/Sidebar.vue";
import {
  getBookmarks,
  filter,
  fullTextQuery
} from "@/services/bookmark.service";
import FilterStore from "@/stores/filter.store";

export default {
  name: "App",
  components: {
    Bookmarks,
    Searchbar,
    Sidebar
  },
  data() {
    return {
      bookmarks: [],
      state: FilterStore.state
    };
  },
  created() {
    return this.load();
  },
  methods: {
    async load() {
      this.bookmarks = await getBookmarks();
    },
    async filter() {
      this.bookmarks = await filter(
        this.state.activeDate,
        this.state.activeTag
      );
      FilterStore.clearSearch();
    },
    async search() {
      FilterStore.clearFilters();
      this.bookmarks = await fullTextQuery(this.state.searchQuery);
    }
  }
};
</script>

<style lang="scss">
// Normalize
@import "../node_modules/normalize.css/normalize.css";

// Variables
:root {
  --font-family: Avenir, Helvetica, Arial, sans-serif;
  --font-size: 2rem;
  --font-color: #000;
  --line-height: 1.4;
  --background-color: #fff;
  --gutter: 2rem;
  --max-width: 1280px;
  --tag-background-color: #eee;
  --tag-background-color-hover: #ddd;
  --tag-border-color-active: #666;
  --tag-background-color-active: #000;
  --tag-text-color-active: #fff;
}

// Style
html {
  font-size: 0.625rem;
  font-size: calc(1rem * 0.625);
}

body {
  // Font
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
  line-height: var(--line-height);
  // Decoration
  background: var(--background-color);
}

#app {
  display: flex;
  max-width: var(--max-width);
  margin: auto;
  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
}

.col {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.row {
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  @media screen and (max-width: 640px) {
    padding-top: calc(var(--gutter) / 2);
    padding-bottom: calc(var(--gutter) / 2);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.7;
  button {
    border-radius: 2rem;
    border: none;
    padding: 0.2rem 1rem;
    background: var(--tag-background-color);
    border: 2px solid var(--tag-background-color);
    // border: 2px solid var(--tag-border-color-active);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      cursor: pointer;
      background: var(--tag-background-color-hover);
      border-color: var(--tag-background-color-hover);
    }
    &.active {
      // for selected tags, can be changed with class
      background: var(--tag-background-color-active);
      color: var(--tag-text-color-active);
    }
  }
  &.inline li {
    display: inline;
    margin-right: 0.4rem;
  }
  &.small li {
    font-size: 1.5rem;
    button {
      padding: 0.2rem 0.5rem;
    }
  }
}
</style>

<style lang="scss" scoped>
#content {
  width: 100%;
  @media screen and (max-width: 640px) {
    width: auto;
  }
}
</style>
