<template>
  <section class="row bookmarks">
    <Bookmark
      v-for="bookmark in bookmarks"
      :key="bookmark.id"
      :title="bookmark.title"
      :description="bookmark.description"
      :link="bookmark.link"
      :tags="bookmark.tags"
      :date="bookmark.createdAt"
      @tag-filtred="update"
    />
  </section>
</template>

<script>
import Bookmark from "@/components/Bookmark.vue";
export default {
  name: "Bookmarks",
  emits: ["tag-filtred"],
  components: {
    Bookmark
  },
  props: {
    bookmarks: Array
  },
  methods: {
    update() {
      this.$emit("tag-filtred");
    }
  }
};
</script>
