<template>
  <article class="bookmark">
    <h3>
      <a :href="this.link" target="_blank">{{ title }}</a>
    </h3>
    <p>{{ description }}</p>
    <ul class="inline small">
      <li>
        <img src="@/assets/time.svg" alt="time" />
        {{ dateFormat }}
      </li>
      <li v-for="tag in tags" :key="tag">
        <button
          @click="filter(tag)"
          :class="{ active: tag === state.activeTag }"
        >
          {{ tag }}
        </button>
      </li>
    </ul>
  </article>
</template>

<script>
import FilterStore from "@/stores/filter.store";
export default {
  name: "Bookmark",
  emits: ["tag-filtred"],
  props: {
    title: String,
    description: String,
    link: String,
    tags: Array,
    date: String
  },
  data: () => ({
    state: FilterStore.state,
    options: {
      weekday: "short",
      year: "numeric",
      month: "short",
      day: "numeric"
    }
  }),
  computed: {
    dateFormat() {
      return (
        this.date &&
        new Intl.DateTimeFormat("fr-FR", this.options).format(
          new Date(this.date)
        )
      );
    }
  },
  methods: {
    async filter(tag) {
      FilterStore.setActiveTag(tag === this.state.activeTag ? null : tag);

      this.$emit("tag-filtred");
    }
  }
};
</script>

<style lang="scss">
// Don't know why, if style is scped component doesn't load :/
article {
  &:not(:last-child) {
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #eee;
  }
  h3 {
    font-size: 2.8rem;
    margin: 0 0 1rem;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  p {
    margin: 1rem 0;
  }
  li {
    img {
      vertical-align: middle;
    }
  }
}
</style>
