<template>
  <header class="row searchbar">
    <input
      name="search"
      v-model="state.searchQuery"
      placeholder="Chercher un lien..."
      @keyup="search"
    />
    <button @click="cancel">&times;</button>
  </header>
</template>

<script>
import FilterStore from "@/stores/filter.store";

export default {
  name: "Searchbar",
  emits: ["search", "search-cancel"],
  props: {
    minChars: {
      type: Number,
      default: 3
    }
  },
  data: () => ({
    previousVal: "",
    state: FilterStore.state
  }),
  methods: {
    search() {
      // 1 : detect string erase action.
      // When search query is smaller than min chars params and smaller than previous val => reload results
      if (
        this.previousVal.length > this.state.searchQuery.length &&
        this.state.searchQuery.length < this.minChars
      ) {
        this.previousVal = this.state.searchQuery.length
          ? this.previousVal
          : ""; // to reset previous val
        this.$emit("search-cancel");
        return;
      }

      // 2 : detect search query typing
      // When search query is smaller than min chars params => do nothing
      if (this.state.searchQuery.length < this.minChars) {
        return;
      }

      // 3 : Search case => search matching results
      this.previousVal = this.state.searchQuery;
      this.$emit("search");
    },
    cancel() {
      this.previousVal = "";
      FilterStore.clearSearch();
      this.$emit("search-cancel");
    }
  }
};
</script>

<style lang="scss" scoped>
.searchbar {
  position: relative;
  input {
    width: 100%;
    height: 60px;
    border-radius: 0.5rem;
    border: 2px solid;
    padding: 1rem 4rem;
    box-sizing: border-box;
  }
  button {
    font-size: 3rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
</style>
