<template>
  <aside id="sidebar" class="col">
    <h1 class="row">
      <a href="#" class="logo" @click="loadBookmarks">
        <img src="@/assets/logo.svg" alt="logo" />
      </a>
      Lurgat
    </h1>
    <div class="sticky">
      <section class="row">
        <h2>Période</h2>
        <ul>
          <li v-for="period in periods" :key="period.key">
            <button
              :id="`period-${period.key}`"
              @click="filter({ date: period.key })"
              :class="{ active: period.key === state.activeDate }"
            >
              {{ period.value }}
            </button>
          </li>
        </ul>
      </section>
      <section class="row">
        <h2>Tags</h2>
        <ul class="inline">
          <li v-for="tag in tags" :key="tag">
            <button
              :id="`tag-${tag}`"
              @click="filter({ tag: tag })"
              :class="{ active: tag === state.activeTag }"
            >
              {{ tag }}
            </button>
          </li>
        </ul>
      </section>
    </div>
  </aside>
</template>

<script>
import { getTags } from "@/services/bookmark.service";
import FilterStore from "@/stores/filter.store";
export default {
  name: "Sidebar",
  emits: ["tag-filtred"],
  data() {
    return {
      tags: [],
      state: FilterStore.state,
      times: 0,
      periods: [
        {
          key: "daily",
          value: "Aujourd'hui"
        },
        {
          key: "weekly",
          value: "Cette semaine"
        },
        {
          key: "monthly",
          value: "Ce mois"
        }
      ]
    };
  },
  async created() {
    this.tags = await getTags();
  },
  methods: {
    async filter({ date, tag }) {
      FilterStore.setActiveTag(
        tag === this.state.activeTag ? null : tag || this.state.activeTag
      );
      FilterStore.setActiveDate(
        date === this.state.activeDate ? null : date || this.state.activeDate
      );
      this.$emit("tag-filtred");
    }
  }
};
</script>

<style lang="scss" scoped>
#sidebar {
  flex: 0 0 20rem;
  h1 {
    margin: 0;
    a.logo {
      color: var(--font-color);
      img {
        height: 80px;
        width: auto;
        vertical-align: middle;
      }
      img.spin {
        animation: spin 2s linear infinite;
      }
    }
  }
  .sticky {
    position: sticky;
    top: 0;
  }
  section {
    h2 {
      font-size: 2rem;
      margin: 0 0 1rem;
    }
    ul.inline li button {
      max-width: 19rem;
    }
    @media screen and (max-width: 640px) {
      ul {
        li {
          display: inline;
          margin-right: 0.4rem;
        }
        &.inline li button {
          max-width: unset;
        }
      }
    }
  }
}
</style>
